In [1]:
#!/bin/python3
import matplotlib.pyplot as plt
import pandas as pd
import math
import numpy as np
import copy

In [46]:
filename ='cc_cross_section_no_corr.txt'
df = pd.read_csv(filename,sep='\t',names=["datatype","targettype","RunID","energy","incoming ions","survived_ions"])
df["ratio_survived"] = 1-df["survived_ions"]/df["incoming ions"]
df.style.hide_index()
geo_filename = "result_geo_corr_factor.txt"
df_geo = pd.read_csv(geo_filename,sep="\t",names=["datatype","targettype","RunID","energy","geo_factor"])
df_geo.style.hide_index()
result_geo = pd.merge(df, df_geo,how="inner",on=["RunID","datatype","targettype","energy"])
result_geo

,datatype,targettype,RunID,energy,incoming ions,survived_ions,ratio_survived,geo_factor
0,exp,c_1086,0181_0001,400,607009,552111,0.090440,1.00227
1,exp,c_1086,0101_0001,550,451164,410044,0.091142,1.00161
2,exp,c_1086,0127_0001,650,500728,454778,0.091766,1.00079
3,exp,c_1086,0168_0001,800,345700,313966,0.091796,1.00048
4,exp,c_2198,0183_0001,400,656259,553053,0.157264,1.00442
5,exp,c_2198,0103_0001,550,436487,367603,0.157815,1.00209
6,exp,c_2198,0130_0001,650,530898,445651,0.160571,1.00093
7,exp,c_2198,0170_0001,800,479742,402409,0.161197,1.00099
8,exp,c_54,0179_0001,400,569925,537743,0.056467,1.00159
9,exp,c_54,0099_0001,550,476356,449093,0.057232,1.00119
10,exp,c_54,0126_0001,650,538080,507173,0.057439,1.00040
11,exp,c_54,0166_0001,800,481495,453923,0.057263,1.00053
12,exp,empty,0187_0001,400,574730,562972,0.020458,1.00086
13,exp,empty,0096_0001,550,453763,444368,0.020705,1.00090
14,exp,empty,0124_0001,650,522495,511631,0.020793,1.00031
15,exp,empty,0173_0001,800,395503,387398,0.020493,1.00023

In [10]:
new_density = 1.851
T_2198 = (new_density)*(2.1928)*(6.02214076)*(pow(10,23))/(12.011);
factor_2198 = (1./T_2198)*(pow(10,27))
factor_1086
factor_54

In [11]:

from ipywidgets import *

In [13]:
df = pd.DataFrame({"x":[1,2,3], "y":[6,4,3], "z":["testing","pretty","tables"], "f":[0.023432, 0.234321,0.5555]})

df

   x  y        z         f
0  1  6  testing  0.023432
1  2  4   pretty  0.234321
2  3  3   tables  0.555500