In [1]:
import pandas as pd

# Step 1: Read the two text files into pandas DataFrames

df1 = pd.read_csv("lise_revised_11C.txt",sep='\t',names=["datatype","targettype","RunID","energy","d_reacted_carbon","all_carbon"])
df2 = pd.read_csv("lise_revised_10C.txt",sep='\t',names=["datatype","targettype","RunID","energy","d_reacted_carbon","all_carbon"])
df1["d_12c_survived"] = 1- df1["d_reacted_carbon"]
df2["d_12c_survived"] = 1- df2["d_reacted_carbon"]

In [2]:
comb_10_11 = df1["d_reacted_carbon"] + df2["d_reacted_carbon"]

In [3]:
print(comb_10_11)

0     0.003089
1     0.003089
2     0.003089
3     0.003089
4     0.006104
5     0.006117
6     0.006117
7     0.006117
8     0.012429
9     0.012430
10    0.012430
11    0.012428
12    0.000000
13    0.000000
14    0.000000
15    0.000000
Name: d_reacted_carbon, dtype: float64

In [4]:
df_final = df1.copy()

df_final.drop(columns=['d_12c_survived','d_reacted_carbon'],inplace=True)
print(df_final)
df_final["d_reacted_carbon"] = comb_10_11

   datatype targettype  RunID  energy  all_carbon
0       sim       c_54      5     400     1000000
1       sim       c_54      6     550     1000000
2       sim       c_54      7     650     1000000
3       sim       c_54      8     800     1000000
4       sim     c_1086      1     400     1000000
5       sim     c_1086      2     550     1000000
6       sim     c_1086      3     650     1000000
7       sim     c_1086      4     800     1000000
8       sim     c_2198      9     400     1000000
9       sim     c_2198     10     550     1000000
10      sim     c_2198     11     650     1000000
11      sim     c_2198     12     800     1000000
12      sim      empty     13     400     1000000
13      sim      empty     14     550     1000000
14      sim      empty     15     650     1000000
15      sim      empty     16     800     1000000

In [5]:
df_final

   datatype targettype  RunID  energy  all_carbon  d_reacted_carbon
0       sim       c_54      5     400     1000000          0.003089
1       sim       c_54      6     550     1000000          0.003089
2       sim       c_54      7     650     1000000          0.003089
3       sim       c_54      8     800     1000000          0.003089
4       sim     c_1086      1     400     1000000          0.006104
5       sim     c_1086      2     550     1000000          0.006117
6       sim     c_1086      3     650     1000000          0.006117
7       sim     c_1086      4     800     1000000          0.006117
8       sim     c_2198      9     400     1000000          0.012429
9       sim     c_2198     10     550     1000000          0.012430
10      sim     c_2198     11     650     1000000          0.012430
11      sim     c_2198     12     800     1000000          0.012428
12      sim      empty     13     400     1000000          0.000000
13      sim      empty     14     550     1000000          0.000000
14      sim      empty     15     650     1000000          0.000000
15      sim      empty     16     800     1000000          0.000000

In [6]:
df_final = df_final.reindex(columns=["datatype","targettype","RunID","energy","d_reacted_carbon","all_carbon"])
print(df_final)

   datatype targettype  RunID  energy  d_reacted_carbon  all_carbon
0       sim       c_54      5     400          0.003089     1000000
1       sim       c_54      6     550          0.003089     1000000
2       sim       c_54      7     650          0.003089     1000000
3       sim       c_54      8     800          0.003089     1000000
4       sim     c_1086      1     400          0.006104     1000000
5       sim     c_1086      2     550          0.006117     1000000
6       sim     c_1086      3     650          0.006117     1000000
7       sim     c_1086      4     800          0.006117     1000000
8       sim     c_2198      9     400          0.012429     1000000
9       sim     c_2198     10     550          0.012430     1000000
10      sim     c_2198     11     650          0.012430     1000000
11      sim     c_2198     12     800          0.012428     1000000
12      sim      empty     13     400          0.000000     1000000
13      sim      empty     14     550          0.000000     1000000
14      sim      empty     15     650          0.000000     1000000
15      sim      empty     16     800          0.000000     1000000

In [7]:
df_final.to_csv('lise_revised_carbon_iso_corr.txt', sep='\t', index=False,header=False)

In [8]:
df1.dtypes

datatype             object
targettype           object
RunID                 int64
energy                int64
d_reacted_carbon    float64
all_carbon            int64
d_12c_survived      float64
dtype: object

In [9]:
df_final.dtypes

datatype             object
targettype           object
RunID                 int64
energy                int64
d_reacted_carbon    float64
all_carbon            int64
dtype: object

In [10]:
dd = pd.read_csv("lise_revised_carbon_iso_corr.txt",sep='\t',names=["datatype","targettype","RunID","energy","d_reacted_carbon","all_carbon"])

In [11]:
dd.dtypes

datatype             object
targettype           object
RunID                 int64
energy                int64
d_reacted_carbon    float64
all_carbon            int64
dtype: object